In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [10]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [11]:
df.shape

(265, 4)

In [13]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
engine = create_engine("postgresql://root:root@localhost/ny-taxi-db")

In [14]:
df.to_sql('ny_borough_data', engine, if_exists='replace', index=False)

265