In [8]:
import pandas as pd

In [20]:
from sqlalchemy import create_engine

In [28]:
df = pd.read_csv('green_tripdata_2019-09.csv', low_memory=False, chunksize=50000)

In [40]:
engine = create_engine("postgresql://root:root@localhost/ny-taxi-db")

In [30]:
print(df)

<pandas.io.parsers.readers.TextFileReader object at 0x118419460>

In [31]:
first_chunk = next(df)

In [38]:
first_chunk.head(4)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0

In [35]:
first_chunk["lpep_pickup_datetime"] = pd.to_datetime(first_chunk["lpep_pickup_datetime"])
first_chunk["lpep_dropoff_datetime"]= pd.to_datetime(first_chunk["lpep_dropoff_datetime"])

In [37]:
first_chunk.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [46]:
first_chunk.head(0).to_sql('green_tripdata_2019', engine, if_exists='replace', index=False)

0

In [47]:
first_chunk.to_sql('green_tripdata_2019', engine, if_exists='append', index=False)

1000

In [48]:
try:
    while True:
        chunk = next(df)
        chunk["lpep_pickup_datetime"] = pd.to_datetime(chunk["lpep_pickup_datetime"])
        chunk["lpep_dropoff_datetime"] = pd.to_datetime(chunk["lpep_dropoff_datetime"])
        chunk.to_sql('green_tripdata_2019', engine, if_exists='append', index=False)
except:
    pass

In [53]:
df2 = pd.read_csv('green_tripdata_2019-09.csv', low_memory=False)

In [60]:
len(df2)

449063

In [61]:
df2.shape

(449063, 20)